

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* hero-image */

.hero-image {
    text-align: center;
    margin: 0 auto;
    background-color: black;
}

/* section */

section {
    height: 100vh;
    font-family: 'Unbounded', cursive, sans-serif;
    color: rgb(0, 0, 0);
}

section h1 {
    font-size: 0.9rem;
    text-align: center;
    padding-bottom: 1.75rem;
    padding-top: 1.25rem;
}

section h2 {
    font-size: 0.8rem;
    text-align: center;
    padding-bottom: 1.25rem;
}

/* score section */

.score {
    color: rgb(0, 0, 0);
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
}

.score h2 {
    font-size: 1rem;
}

.score p {
    text-align: center;
}

/* game section */

.options {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.hands {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin-bottom: 10px;
}

.handy {
    height: 9.375rem;
    font-weight: 9.375rem;
}

.player-hand {
    transform: rotateY(180deg);
}

/* buttons in the game section */

.option {
   width: 10%;
}

.option:hover {
    background-color: rgb(66, 215, 66);
}

/* Media queries */

@media all and (min-width: 414px) {

    .option {
        width: 10%;
        height: 40px;
    }

}

@media all and (min-width: 615px) {

    .option {
        width: 9%;
        height: 50px;
    }

}

@media all and (min-width: 703px) {

    .option {
        width: 8%;
        height: 50px;
        
    }

}

@media all and (min-width: 800px) {

    .option {
        width: 7%;
        height: 50px;
    }

}

@media all and (min-width: 950px) {

    .option {
        width: 6%;
        height: 50px;
    }

}

@media all and (min-width: 1050px) {

    .option {
        width: 5%;
        height: 50px;
    }

}
